<!-- NAVBAR START -->
{%  load static %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-light shadow-sm px-1">
    <div class="container px-3">
        <div class="">
      <span class="navbar-brand fs-4 d-block">
        <img class="logo" src="{% static 'images/logo.png' %}" />
      </span>
        </div>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 d-flex justify-content-between">
                <div class="d-lg-flex align-items-center">
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item text-nowrap px-3">
                        <a class="nav-link" href="{% url 'login' %}">
                            Login </a>
                    </li>
                    {% endif %}
                    {% if league %}
                    <li class="nav-item text-nowrap px-3">
                        <a class="nav-link" href="{% url 'league_home' league.name %}">
                            League Home </a>
                    </li>
                    <li class="nav-item text-nowrap px-3">
                        <a class="nav-link" href="{% url 'rounds' league.name %}">
                            Rounds </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item text-nowrap px-3">
                        <a class="nav-link" href="{% url 'logout' %}">
                            Logout </a>
                    </li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->
