{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="mt-4 mb-4 m-2 d-flex text-centre">
        <span>Please confirm each player's position for round {{ round }}.</span>
    </div>
    <div class="d-flex justify-content-center">
        <div class="w-100 d-flex text-centre justify-content-between">
            <div class="bg-white shadow-sm w-100 white-container">
                <div class="table-responsive p-0 w-100"
                     style="max-height: 800px">
                    <form method="post">
                        {{ form.management_form }}
                        {% csrf_token %}
                        <table class="text-center table m-0 w-100 no-dividers">
                            <thead>
                            <tr class="border-muted border-bottom">
                                <th class="fw-normal text-muted small border-0"
                                    scope="col">Player
                                </th>
                                <th class="fw-normal text-muted small border-0"
                                    scope="col">Position
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form in form %}
                                {{ form.round }}
                                {{ form.id }}
                                <tr>
                                    <td>{{ form.player }}</td>
                                    <td>{{ form.position }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center mb-4 mt-4">
                            <input
                                    type="submit"
                                    class="w-100 btn btn-danger ml-15p mr-15p"
                                    value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
