{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="row mt-3 mb-3">
        <div class="text-center col-12">
            <h5>Season Total - {{ league }}</h5>
        </div>
    </div>
     <div class="row d-flex justify-content-center">
        <div class="col-11">
            <div class="d-flex text-centre justify-content-between">
                <div class="bg-white shadow-sm w-100 white-container">
                    <div class="table-responsive p-0 w-100"
                         style="max-height: 800px">
                        <table class="text-center table m-0 w-100">
                            <thead>
                            <tr class="border-muted border-bottom">
                                <th class="fw-normal text-muted small border-0" scope="col">Player</th>
                                <th class="fw-normal text-muted small border-0" scope="col">Goals</th>
                                <th class="fw-normal text-muted small border-0" scope="col">Assists</th>
                                <th class="fw-normal text-muted small border-0" scope="col">Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for player in object_list %}
                            <tr>
                                <td>{{ player }}</td>
                                <td>{{ player.goals }}</td>
                                <td>{{ player.assists }}</td>
                                <td>{{ player.points }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}