{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="mt-4 mb-4 m-2 d-flex text-centre">
        <h5>{{ league }} Rounds</h5>
    </div>
    <div class="d-flex justify-content-center">
        <div class="w-100 d-flex text-centre justify-content-between">
            <div class="bg-white shadow-sm w-100 white-container">
                <div class="table-responsive p-0 w-100"
                     style="max-height: 800px">
                    <table class="text-center table m-0 w-100">
                        <thead>
                        <tr class="border-muted border-bottom">
                            <th class="fw-normal text-muted small border-0"
                                scope="col">Number
                            </th>
                            <th class="fw-normal text-muted small border-0"
                                scope="col">Played
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for round in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'round_detail' league.name round.number %}">Round {{ round.number }}</a>
                                </td>
                                <td>
                                    <i class="bi bi-check text-success display-6"></i>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}